<<<<<<< HEAD
<div class="row">
    <div class="forms"> 
    <form class="form-group">
    <div class="form-group">
        {{input value=subject id='subject' placeholder='Question Subject'}}
        {{input value=question id='question' placeholder='Enter New Question' size="50"}}
        {{input value=author id='author' placeholder='Username'}}
        {{input value=date id='date' placeholder='Date'}}
    </div>
    {{#bs-button type="primary" onCLick=(action "newQue")}} Ask {{/bs-button}}
</form>
</div>
</div>
=======
<!-- {{yield}} -->
<h2>Post Question</h2>
<form>
  <label for="author">Author:</label>
  {{input value=author id="author"}}
  <label for="subject">Subject:</label>
  {{input value=subject id="subject"}}
  <label for="question">Question:</label>
  {{input value=question id="question"}}
  <button {{action 'postQuestion'}}>Ask</button>
</form>
>>>>>>> 4a702e2769be34ed592228f994d01d89c9379ff8
