{{!--update or delete question here--}}

{{#if editForm}}
    <h4>Edit {{que.subject}}</h4>
    <form>
        {{input value=question id="question" placeholder=que.question}}
        <button class="btn btn-primary" {{action "editQue" que}} >Submit</button>
    </form>
{{else}}
    <button class="btn btn-warning" {{action "editForm"}} >Edit</button>
{{/if}}

{{#bs-button type="danger" onClick=(action "destroy" que)}}Delete{{/bs-button}}
