<div>
    <form>
    {{input value=answer id='answer' placeholder='Post new answer'}}
    {{input value=author id='author' placeholder='username'}}
    {{#bs-button type="success" onClick=(action 'newAns')}} Post Answer {{/bs-button}}
</form>
</div>
{{!--List Answers--}}
<div>
    {{#each question.answer as |ans|}}
        <li>{{ans.vote}} {{ans.answer}} -- {{ans.author}} 
                <button {{action 'upVote' ans}} >Up Vote</button>
                <button {{action 'downVote' ans}} >Down Vote</button>
        </li>
    {{/each}}
</div>