<!-- {{outlet}} -->
<h1>List details of Question</h1>
{{model.subject}} asked by {{model.author}}
posted on {{model.date}}
<p>{{model.question}}</p>

<button type="button" name="button">Edit</button>
<button type="button" name="button">Delete</button>
