<h2>{{model.subject}}</h2>
<p>{{model.question}}</p>
<p>By {{model.author}} posted on {{model.date}} </p>
{{question-detail editQue1="editQue2" destroy1="destroy2" que=model}}
{{question-answers newAns1="newAns2" question=model}}