<<<<<<< HEAD
<h2>{{model.subject}}</h2>
<p>{{model.question}}</p>
<p>By {{model.author}} posted on {{model.date}} </p>
{{question-detail editQue1="editQue2" destroy1="destroy2" question=model}}
{{question-answers newAns1="newAns2" question=model}}
=======
{{outlet}}
<h1>Questions</h1>
{{question-component model=model postQuestion3="postQuestion4" editQuestion3="editQuestion4"}}
>>>>>>> 4a702e2769be34ed592228f994d01d89c9379ff8
